SPRING_PROFILES_ACTIVE=local

WL_SERVER_PORT=8080

WL_DB_HOST=localhost
WL_DB_PORT=3306
WL_DB_NAME=worklens

WL_DB_USERNAME=root
WL_DB_PASSWORD=software@123

WL_INDV_FILE_SIZE=10MB
WL_MAX_REQ_SIZE=100MB

WL_FILE_STORAGE=D:/worklens_local/files
WL_JWT_KEY=encoded_128bit_key

WL_JWT_SECRET_STRING=our-secure-secret-gen-at-today-ddmmyy-hhmmss

WL_FRONTEND_PORT=http://localhost:5173